@{
    ViewBag.Title = "Index";
}

@model List<myDatabase.customer>
<link href="~/assets/css/style.css" rel="stylesheet" />


<table id="tableCustomer">
    <tr>
        <th>Tên</th>
        <th>Địa chỉ</th>
        <th>Số điện thoại</th>
        <th>Email</th>
        <th>Ngày sinh</th>
        <th>Chức năng</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id='row_@item.id'>
            <td id='name_@item.id'>@item.name</td>
            <td id='address_@item.id'>@item.address</td>
            <td id='phone_@item.id'>@item.phone</td>
            <td id='email_@item.id'>@item.email</td>
            <td id='dob_@item.id'>@item.dob</td>
            <td><button class="btn btn-warning" onclick="edit(@item.id)">Sửa</button>
                <button class="btn btn-danger" onclick="deleteCustomer(@item.id)">Xoá</button>
            </td>

        </tr>
    }
</table>


<div class="row">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="txtName">Tên</label>
            <input type="text" class="form-control" id="txtName" placeholder=" Nhập tên">

        </div>
        <div class="form-group">
            <label for="txtAddress">Địa chỉ</label>
            <input type="text" class="form-control" id="txtAddress" placeholder=" Nhập địa chỉ">

        </div>
        <div class="form-group">
            <label for="txtPhone">Số điện thoại</label>
            <input type="text" class="form-control" id="txtPhone" placeholder=" Nhập số điện thoại">

        </div>
        <div class="form-group">
            <label for="txtEmail">Email</label>
            <input type="text" class="form-control" id="txtEmail" placeholder=" Nhập Email">

        </div>
        <div class="form-group">
            <label for="txtDob">Ngày sinh</label>
            <input type="datetime" class="form-control" id="txtDob" placeholder=" Nhập ngày sinh">

        </div>
        <button id='' class="btn btn-primary update" onclick='updateCustomerInfor(id)'>Update</button>

        <button class="btn btn-success" onclick="addCustomer()" id='btnAdd'>Thêm</button>

    </div>
</div>
<script src=" ~/assets/js/scripts.js"></script>